<div class="flex justify-center flex-col border">
    <h1 style="font-size: 25px;font-weight: 500;">Log In</h1>
    <form action="/admin" method="post" class="flex flex-col border">
        <label for="username"><b>Username</b></label>
        <input id="username" type="text" placeholder="Enter Username...">
    
        <label for="Password"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password...">
    
        <input type="submit" name="Login" value="Log In">
    </form>
</div>