<header class=" gap-2 w-screen grid grid-cols-2 sm:grid-cols-4 py-4 px-6 sm:px-8 md:px-10" style="font-family: poppins;">
<h1 style="font-size: 25px;font-weight: 500;" class="col-span-1 order-1">Blog</h1>
<ul class="flex gap-4 col-span-1 sm:col-span-1 md:col-span-2 justify-center order-2 md:order-2 items-center">
    <li style="font-size: 14px;">Home</li>
    <li style="font-size: 14px;">About</li>
    <li style="font-size: 14px;">Contact</li>
</ul>
<div class="col-span-2 sm:col-span-2 md:col-span-1 flex gap-0 order-3 md:order-3 justify-center ">
    <input type="search" placeholder="Search Here" class="px-2 outline-none rounded-l" style="border: 2px solid black;border-right: none;font-size: 14px;">
    <button class="bg-black text-white px-2 rounded-r"><i class="fa fa-search" aria-hidden="true" style="background-color: transparent;"></i></button>
</div>
</header>