<div class="h-5/6">
    <h1 class="text-center font-bold text-3xl pt-4">About Me</h1>
    <article class="text-xl text-justify px-4 sm:px-8 mt-8 leading-relaxed">
        I am Karan Yadav, a passionate Full Stack Developer with 8+ months of experience in building responsive, user-friendly websites and applications. Proficient in technologies like React.js, Node.js, and WordPress, I specialize in creating visually appealing and functional web solutions. My expertise includes optimizing website performance, integrating APIs, and implementing SEO strategies to enhance user engagement and drive organic traffic. I have developed diverse projects, including a blog platform, Google Gemini and Stack Overflow clones, and interactive games, showcasing my ability to merge creativity with technical precision. I am always eager to learn and explore innovative technologies to deliver impactful digital experiences.</article>
</div>
